@use '../../../scss/variables';

.cart-container {

    display: block;

    position: relative;
    font-weight: 300;
    font-family: variables.$font;
    font-size: 15px;
    color: variables.$textDarkColor;
    background-color: variables.$backGroundColor;
    
    min-height: 
        calc(
            100vh 
            - variables.$header-height 
            - variables.$footer-height
            );


    .empty-cart {
        min-height: 
            calc(
                100vh 
                - variables.$header-height 
                - variables.$footer-height
                - 61px
            );

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .empty-cart-warning{
            color: variables.$textDarkColor;
            font-size: 25px;
            font-weight: 300;
            margin-bottom: 30px;
        }
    }

    &__title-container {
        background-color: variables.$itemBackgroundColor;
        border-bottom: 1px solid variables.$borderColor;
        width: 100%;

        .title-content {
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            max-width: 1300px;
            padding-inline: 20px;
            color: variables.$textDarkColor;
            margin: auto;

            &__title{
                font-size: 15px;
                padding-inline: 20px;
                color: variables.$textDarkColor;
            }
        }
    }
}