@use '../../../../scss/variables';

.cart-item-count {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    border-right: 1px solid variables.$borderColor;

    @media only screen and (max-width: 767px) {
        padding-inline: 5px;
    }

    .container {
        .on-cart{
            margin-bottom: 5px;
        }
    
        .item-count__controls{
            .number-of-items{
                border: 1px solid rgb(224, 224, 224);
                margin-inline: 5px;

            }
        }
    
        .available-stock{
            color: rgb(148, 148, 148);
            font-size: 13px;
            margin-top: 5px;
        }
    }
}