@use '../../../scss/variables';

.image-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 89px;
    padding-bottom: 15px;

    @media only screen and (max-width: 480px) {
        width: 55px;
        padding-left: 2px;
    }
}