@use '../../../scss/variables';

.header {
    background-color: variables.$color4;
    height: variables.$header-height;
    position: sticky;
    top: 0;
    z-index: 999;

    
    &__top {
        display: grid;
        max-width: 900px;
        margin: auto;
        grid-template-columns:20% 60% 20%;

        height: 90px;

        .logo-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 5px;
            padding-right: 25px;
            max-width: 100%;
            max-height: 100%;

            .logo {
                width: 80px;
            }


        }

        .top-right-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 25px;
            padding-top: 6px;
        }


    }
}

