@use '../../../scss/variables';

.item-list-container {
  display: block;
  padding-bottom: 50px;
  position: relative;
  min-height: 
    calc(
        100vh 
        - variables.$header-height 
        - variables.$footer-height
    )
  ;

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .no-match {
    min-height: 
        calc(
            100vh 
            - variables.$header-height 
            - variables.$footer-height
            - 110px
        );

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .no-match-warning{
        color: variables.$textDarkColor;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 30px;
        word-wrap: break-word;
        max-width: 600px;
        overflow: hidden;
    }
  } 
}

