@use '../../scss/variables';

.item-path {
    font-weight: 300;
    height: 60px;
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid variables.$color2;

    .path {

        &:hover {
            color: blue;
        }
    }
}