@use '../../../scss/variables';

.navbar-brand-item {
    font-family: variables.$font;
    font-weight: 300;
    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: background-color 0.2s ease;
    background-color: variables.$color4;
    color: variables.$textBrightColor;

    &:hover {
        background-color: variables.$color6;
        cursor: pointer;
    }

    &:active {
        background-color: variables.$color8;
    }
}
