@use '../../../scss/variables';

.item-detail {
    color: variables.$textDarkColor;
    border: 1px solid variables.$borderColor;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 12% 60% 28%;
    max-width: 900px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    background-color: variables.$itemBackgroundColor;
    opacity: 1;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;

    &.hidden {
        transform: translateY(-20px);
        opacity: 0;
    }

    &__image-list-container {
        overflow: auto;
        height: 500px; 
        scrollbar-color: variables.$borderColor transparent;
    }

    &__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding: 20px;

        img{
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__right-container {
        border-left: 1px solid variables.$borderColor;
        display: grid;
        grid-template-rows: 65% 35%;
        max-width: 100%;
        position: relative;

        &__info-container {
            display: flex;
            flex-direction: column;
            font-weight: 300;
            position: relative;

            .item-title, .item-description, .item-price {
                padding-inline: 20px;
            }

            .item-title {
                padding-top: 20px;
                font-size: larger;
                font-weight: bolder;
                text-align: start;
            }

            .item-description {
                text-align: start;
                padding-top: 20px;
                font-size: 15px;
            }

            .item-price {
                font-size: 25px;
                margin-top: auto;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &::after {
                display: block;
                content: "";
                width: 100%;
                border-top:1px solid variables.$borderColor;
                position: absolute;
                bottom: 0;
            }

            .item-wish-icon {
                position: absolute;
                top: 4px;
                right: 4px;
                width: 25px;
                cursor: pointer;
            }
        }

        &__count-container  {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .prod-in-cart-warning {
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 300;
            }

            .button {
                margin-bottom: 10px;
            }
        }
    }
}