@use '../../../scss/variables';

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: variables.$color4;
    font-weight: 300;

    ul {
        display: flex;
        flex-direction: row;
        justify-self: center;

        .nav-item {
            height: 100%;
            font-family: variables.$font;
            border-radius: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            font-weight: 400;
        }
    }
}