@use '../../../scss/variables';

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: variables.$color4;
    height: calc(variables.$header-height - 90px);

    ul {
        display: flex;
        flex-direction: row;
        justify-self: center;
    }

    .navbar-category-item {
        height: 100%;
        font-family: variables.$font;
        border-radius: 0;
        font-weight: 300;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding-inline: 15px;
        background-color: variables.$color4;
        color: white;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-size: 14px;
        
        &:hover {
            background-color: variables.$color6;
        }

        &:active {
            background-color: variables.$color8;
        }
    }
}