@use '../../../scss/variables';

.path {
    font-weight: 300;
    font-family: variables.$font;

    font-size: 15px;
    color: variables.$textDarkColor;
    background-color: variables.$itemBackgroundColor;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: 480px) {
        font-size: 12.5px;
    }

    .path-item {
        color: variables.$textDarkColor;
    }
}