@use '../../../scss/variables';

.cart-item {
    border: 1px solid black;
    width: 70%;
    height: 100px;
    color: variables.$textDarkColor;
    border: 1px solid variables.$borderColor;
    border-radius: 10px;
    background-color: variables.$itemBackgroundColor;

    display: flex;
    flex-direction: row;
    position: relative;
    
    opacity: 1;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;

    &.hidden {
        transform: translateY(-20px);
        opacity: 0;
    }
    
    &__title-container {
        width: 300px;
        height: 100%;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }

    &__img-container {

        height: 100%;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-right: 1px solid variables.$borderColor;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}