@use '../../../scss/variables';

.item-detail-container {
    padding-bottom: 50px;
    display: block;

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    min-height: 
        calc(
            100vh 
            - variables.$header-height 
            - variables.$footer-height
        )
    ;
}