@use '../../../scss/variables';

.category {
    height: 45px;
    transition: 0.2s background-color ease-in;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .dropdown-list {
        
        .nav-item {
            height: 100%;
            font-weight: 500;
            border-radius: 0;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

        }
    }
}