@use '../../../scss/variables';

.navbar-category {
    height: calc(variables.$header-height - 90px);
    position: relative;

    @media only screen and (max-width: 767px) {
        display: none;
    }

    @media only screen and (max-width: 480px) {
        height: calc(variables.$header-height - 105px);
    }

    .navbar-category-item {
        font-family: variables.$font;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-weight: 400;
        padding-inline: 15px;
        background-color: variables.$color4;
        color: white;
        cursor: pointer;
        height: 100%;
        font-weight: 300;
        transition: background-color 0.2s ease;

        @media only screen and (max-width: 480px) {
            padding-inline: 10px;
        }

        &:hover {
            background-color: variables.$color6;
        }

        &:active {
            background-color: variables.$color8;
        }
    }

    .brands-list {
        width: 100px;
        background-color: variables.$color4;
        position: absolute;
        z-index: 999;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        top: calc(100%);
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        display: block;
        max-height: 0;
        min-width: 100%;
        opacity: 0; 
        visibility: hidden; 
        transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0.5s ease-in;
        transition-delay: 0.1s;
    }

    &:hover .brands-list {
        opacity: 1; 
        visibility: visible; 
        max-height: 500px;
    }

}