@use '../../../../scss/variables';

.drawer-brand-item{
    width: 100%;
    text-align: left;
    padding: 10px 20px 10px 70px;
    font-family: variables.$font;
    cursor: pointer;
    background-color: variables.$color4;
    transition: all 0.2s ease;
    color: white;

    &:hover{
        background-color: variables.$color6;
    }
}