@use './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: variables.$textColor;
    font-family: variables.$font;
    font-weight: 200;
}

a:visited {
    color: variables.$textColor;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    font-family: variables.$font;
    font-weight: 300;
    font-size: 15px;
    
    &:focus {
        outline: none;
    }
}

button {
    border: none;
}