@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color1: #000000;
$color2: #123d72;
$color3: #154988;
$color4: #1c5ba8;
$color5: #296ca8;
$color6: #4992d3;
$color7: #85b7e2;
$color8: #c2dbf0;
$color9: #edf4fb;

$backGroundColor: rgb(245, 245, 245);
$itemBackgroundColor: white;
$borderColor: #B6B6B6;
$textDarkColor: #000000;
$textBrightColor: #edf4fb;
$font: "Poppins", sans-serif;

$header-height: 135px;
$footer-height: 135px;



