@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color1: #000000;
$color2: #102940;
$color3: #153755;
$color4: #1c5ba8;
$color5: #296ca8;
$color6: #4992d3;
$color7: #85b7e2;
$color8: #c2dbf0;
$color9: #edf4fb;

$backGroundColor: white;
$borderColor: rgb(182, 182, 182);
$textDarkColor: #102940;
$textBrightColor: #edf4fb;
$font: "Poppins", sans-serif;

$header-height: 135px;
$footer-height: 135px;



