@use '../../../scss/variables';

.item-count {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;

    
    .available-stock {
        font-size: smaller;
        width: 150px;
        text-align: center;
        transform: translateY(-20px);

        @media only screen and (max-width: 480px) {
            transform: translateY(-8px);
        }
    }

    &__controls{
        width: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .decrement-button, .increment-button {
            padding-inline: 10px;
            width: 25%;
        }

        .number-of-items {
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__add-to-cart-button-container {

        .add-to-cart-button {
            width: 150px;
            transform: translateY(10px);
        }
    }
}