@use '../../../scss/variables';

.checkout-form {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
    min-height: 

    calc(
        100vh 
        - variables.$header-height 
        - variables.$footer-height
        - 61px
    );

    @media only screen and (max-width: 480px) {
        font-size: 13px;
        width: 90%;
    }

    .credit-card-logos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 70px;
        border-bottom: 1px solid variables.$borderColor;
        padding: 15px;
        margin-bottom: 20px;
        margin-top: 10px;

        img {
            max-height: 100%;
        }
    }

    .input-container {
        text-align: left;
        width: 100%;
        position: relative;

    }

    .expiration-date-and-code-container{
        display: flex;
        gap: 40px;
    }

    input {
        padding: 10px;
        padding-inline: 20px;
        border: 1px solid variables.$borderColor;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 28px;

        @media only screen and (max-width: 480px) {
            font-size: 13px;
        }
    }

    label {
        text-align: left;
        margin-left: 5px;
    }

    .error {
        position: absolute;
        bottom: 4px;
        font-size: 14px;
        background-color: red;
        color: white;
        padding-inline: 15px;
        border-radius:5px;

        @media only screen and (max-width: 480px) {
            font-size: 11px;
        }

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid red;
            position: absolute;
            top: -10px
        }
    }


    button {
        margin-top: 10px;
        padding: 10px;
        padding-inline: 20px;
        background-color: #1677ff;
        color: white;
        border-radius: 7px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin-bottom: 40px;

        @media only screen and (max-width: 480px) {
            font-size: 13px;
            margin-bottom: 20px;
        }

        &:hover {
            background-color: #4096ff;
        }
    }


}